@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 초기화 */
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, p, ul, li, a{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
body{
    background-color: black;
    overflow-x: hidden;
  }
.inner{
    max-width: 75%;
    margin: 0 auto;
}
.blind{
    display: none;
}
input{
  display: none;
}

body::-webkit-scrollbar {
    width: 15px;
}
 body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
/* ------------------------------------header--------------------------------------- */
header {
    font-family: 'Manrope', sans-serif;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 99;
}
header #gnb {
    float: right;
    margin-top: 30px;   
}
header #gnb>li {
       display: inline-block;
   }
header #gnb>li>a{
    font-weight: 700;
    font-size: 1.313rem;
    margin-left: 100px;
}

/* 로고 */
header #areaLogo{
    float: left;
    margin-top: 15px;
}
header .ico a{
    font-weight: 900;
    font-size: 2.37rem;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.74);
    text-decoration: none;
    position: relative;
}
header .ico a:hover{
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 10px #FFF, 0px 2px 10px rgba(255, 255, 255, 0.1), 0px -2px 10px rgba(255, 255, 255, 0.1), -2px 0px 10px rgba(255, 255, 255,0.1), 2px 0px 10px rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
}

/* 메뉴 a태그 hover */
nav li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
}
nav li a:hover{
    text-decoration: none;
    color: white;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.514), 0px 2px 10px rgba(255, 255, 255, 0.1), 0px -2px 10px rgba(255, 255, 255, 0.1), -2px 0px 10px rgba(255, 255, 255,0.1), 2px 0px 10px rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
}


.scroll_01{    
    height: 80px;
    position:fixed;
    left:50%;
    width:100%;
    padding:0;
    text-align:center;
    transform:translate(-50%);
    transition:all .3s
}
.work_dots a{
  opacity: 0;
  border-radius: 50px;
  padding: 10px 5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed; 
  bottom: 43%; 
  right: 30px; 
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}
.towhite{
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.toblack{
  border: 2px solid rgb(0, 0, 0);
  color: black;
}
/* ------------------------------------main_section--------------------------------------- */
.main_Section{
    z-index: 2;
}

/* ------------------------------------background_section--------------------------------------- */
.background_Section{
    margin-top: -900px;
    height: 900px;
    z-index: -1;
    opacity: 0;
}

/* ------------------------------------slogan_Section--------------------------------------- */
.slogan_Section{
    text-align: center;
    height: 950px;
    margin-top: 100px;
}
.slogan_Section .text{
    margin-top: 280px;
}
.slogan_Section .text h3{
    color: white;
    font-size: 3rem;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 2px 10px rgba(30, 98, 224, 0.3), 0px -2px 10px rgba(30, 98, 224, 0.3), -2px 0px 10px rgba(30, 98, 224, 0.3), 2px 0px 10px rgba(30, 98, 224, 0.3);
    transition: all 0.4s ease;
}
.slogan_Section .text p{
  margin-top: 60px;
}
.sl_p_one, .sl_p_two, .sl_p_three{
   opacity: 0;
    margin-top: -10px;
    color: rgb(190, 190, 190);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.sizeUp{
  animation: sizeUp 1s forwards;
}
@-webkit-keyframes sizeUp {
  0% {
    font-size: 3rem;
  }
  
  100% {
    font-size: 3.2rem;
  }
}

/* ------------------------------------works--------------------------------------- */
.work_all {
  margin-top: 150px;
  height: 100vh;
}
.work_content{
  opacity: 0;
}
.work_all h1 {
  opacity: 0;
  margin-bottom: 50px;
  padding-top: 90px;
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 2px 10px rgba(30, 98, 224, 0.3), 0px -2px 10px rgba(30, 98, 224, 0.3), -2px 0px 10px rgba(30, 98, 224, 0.3), 2px 0px 10px rgba(30, 98, 224, 0.3);
}
.works img{
  position:  absolute;
  width: 540px;
  height: 300px;
   border-radius:10px;
   cursor: pointer;
}
.work_all img {
  vertical-align: top;
}
.banner_img, .banner_bg{
  display:inline-block;
  position: relative;
}
.banner_img:hover:after,
.banner_img:hover > .hover_text,
.banner_bg:hover:after,
.banner_bg:hover > .hover_text
{
  display:block;
}
.banner_img:after,.banner_bg:after,.hover_text{
  display:none;
}
.banner_img:after,.banner_bg:after{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.banner_img {
  overflow: hidden;
  border-radius: 20px;
  margin-left: 65px;
}
.banner_img img{
  height: 300px;
}
.banner_img:hover img{
  transform: scale(1.2);
  transition: 1s;
}
.hover_text {
  position: absolute;
  top: 80px;
  left: 200px;
  color: #fff;
  z-index: 20;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 40px 30px;
}
.text_container{
  display: flex;
  margin-top: 40px;
}
.work_all .text_container p {
  color: rgba(255, 255, 255, 0.938);
}
.work_all .text_container p strong{
  color: rgba(255, 255, 255, 0.712);
}
.work_all .doodle_text h3{
  margin-left: 65px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 3.3rem;
  color: white;
  border-bottom: 3px solid #fff;
  border-radius: 10px;
  width: 535px;
  height: 3.3rem;
  text-align: center;
}
.work_all .doodle_text p{
  margin-left: 65px;
  font-size: 1.15rem;
  line-height: 1.6rem;
    width: 535px;
}
.work_all .caremate_text h3{
  margin-left: 65px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 3.3rem;
  color: white;
  border-bottom: 3px solid #fff;
  border-radius: 10px;
  width: 535px;
  height: 3.3rem;
  text-align: center;
}
.work_all .caremate_text p{
  margin-left: 65px;
  font-size: 1.15rem;
  line-height: 1.6rem;
    width: 535px;
}
.work_all .roudding_text h3{
  margin-left: 65px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 3.3rem;
  color: white;
  border-bottom: 3px solid #fff;
  border-radius: 10px;
  width: 535px;
  height: 3.3rem;
  text-align: center;
}
.work_all .roudding_text p{
  margin-left: 65px;
  font-size: 1.15rem;
  line-height: 1.6rem;
    width: 535px;
}

/* ------------------------------------profile--------------------------------------- */
.profile_Section {
    margin-top: 200px;
    height: 950px;
}
.profile_Section h2{
  opacity: 0;
  text-align: center;
    margin-top: 100px;
}
.profile_Section .container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.profile_Section .me{
  opacity: 0;
  margin-top: 90px;
  text-align: left;
  margin-right: 100px;
}
.profile_Section .me img{
  width: 90%;
}
.profile_Section .me .square{
  width: 476px;
  height:476px;
  border: 3px solid rgb(0, 0, 0);
  transform: rotate( 45deg );
  margin-top: -486px;
  margin-left: -1px;
}

 @keyframes rotate_square{ 
   0%{
    transform: rotate(0deg);
   }
   50%{
    border: 3px solid rgb(255, 255, 255);
   }
   100% { 
     transform: rotate(360deg);
   } 
  }
.profile_title{
  opacity: 0;
}
.profile_Section .learn{
  opacity: 0;
}
.profile_Section .positive{
  opacity: 0;
}
.profile_Section .gradual{
  opacity: 0;
}
.profile_Section .text{
  text-align: left;
  margin-left: 100px;
  /* margin-top: 90px; */
}
.profile_Section .text h3{
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgba(85, 85, 85, 0.867)cd;
  line-height: 4.5rem;
}
.profile_Section .text h3 strong{
  color: black;
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-weight: 900;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05), 0px 2px 10px rgba(30, 98, 224, 0.05), 0px -2px 10px rgba(30, 98, 224, 0.05), -2px 0px 10px rgba(30, 98, 224, 0.05), 2px 0px 10px rgba(30, 98, 224, 0.05);
}
.profile_Section .text .dot_profile{
  display: flex;
  margin-top: -150px;
}
.profile_Section .text .dot_1{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin-left:10px;
}
.profile_Section .text .dot_2{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin-left: 170px;
  margin-top: 75px;
}
.profile_Section .text .dot_3{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin-left:35px;
  margin-top: 75px;
}
.profile_Section .text .dot_4{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin-left:35px;
  margin-top: 75px;
}
.text .dot_profile{
  animation: dot_profile 0.7s linear infinite;
}
   @keyframes dot_profile{ 
     0%{
      transform: translateY(-10px);
     }
    50% { 
      transform: translateY(2px);
    } 
     100% { 
       transform: translateY(-10px);
     } 
    }
.profile_Section .text ul{
  margin-top: 100px;
}
.profile_Section .text li{
  list-style: none;
  margin-top: 1.7rem;
}
.profile_Section .text li h4{
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
  border-bottom: 3px dotted rgb(0, 0, 0);
  display: inline-block;
}
.profile_Section .text li p{
  font-size: 1.15rem;
  line-height: 1.6rem;
}

/* ------------------------------------skill--------------------------------------- */
.skill {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
  .skill h2{
   opacity: 0;
   margin-bottom: 100px;
 }
  .chart {
    opacity: 0;
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
    margin-left: 140px;
  }
  .chart figcaption {
    padding: 50px 25px;
    width: 130px;
    height: 80px;
    border: 30px solid #f0f0f0;
    border-radius: 130px;
    line-height: 80px;
  }
  .chart img {
    position: absolute;
    max-width: 80px;
    max-height: 80px;
    margin-left: 35px;
    margin-top: 30px;
  }
  .down{
    margin-top:80px;
  }
.chart.seventy img{
  top: 50px;
  left: 50px;
}
  .html {
    top: 50px;
    left: 45px;
  }
  .html + svg .outer {
    stroke: #e34f26;
  }
  .css {
    top: 55px;
    left: 48px;
  }
  .css + svg .outer {
    stroke: #0d84ce;
  }
  .javascript {
    max-width: 90px;
    max-height: 90px;
    top: 45px;
    left: 45px;
  }
  .javascript + svg .outer {
    stroke: #f0e040;
  }
  .illustrator {
    top: 55px;
    left: 48px;
  }
  .illustrator + svg .outer {
    stroke: #FF9A00;
  }
  .photoshop {
    top: 55px;
    left: 48px;
  }
  .photoshop + svg .outer {
    stroke: #31A8FF;
  }
  .chart svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 30;
    stroke-dasharray: 660;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    -moz-transform: rotate(-89deg) translateX(-190px);
  }
  
  @-webkit-keyframes show100 {
    from {
      stroke-dashoffset:665;
    }
    
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes show80 {
    from {
      stroke-dashoffset:665;
    }
    
    to {
      stroke-dashoffset: 90;
    }
  }
  
  @-webkit-keyframes show70 {
    from {
      stroke-dashoffset:665;
    }
    
    to {
      stroke-dashoffset:220;
    }
  }
  
  @-webkit-keyframes show90 {
    from {
      stroke-dashoffset:665;
    }
    
    to {
      stroke-dashoffset: 50;
    }
  }
  
    /* ------------------------------------contact--------------------------------------- */
    .contact{
      margin-top: 400px;
      height: 75vh;
    }
    .contact .container{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      color: white;
    }
    .contact .container p{
      color: rgba(255, 255, 255, 0.767);
      font-size: 2.3rem;
      line-height: 4rem;
      font-weight: 500;
    }
    .contact .container p strong{
      color: white;
      font-size: 2.6rem;
      font-weight: 700;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.733), 0px 2px 10px rgba(255, 255, 255, 0.1), 0px -2px 10px rgba(255, 255, 255, 0.1), -2px 0px 10px rgba(255, 255, 255,0.1), 2px 0px 10px rgba(255, 255, 255, 0.1);
    }
    .contact .container .dot_contact{
      position: relative;
      left: 235px;
      bottom: 70px;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      animation: dotn 1s ease-in;
     animation-fill-mode: forwards;
    }
    .contact .container ul li{
      color: rgba(255, 255, 255, 0.781);
      font-size: 1.3rem;
      line-height: 3.5rem;
    }
    .contact .container ul li:last-child{
      border: 5px dotted rgba(255, 255, 255, 0.637);
      margin-left: -23px;
      padding: 0 20px;
      margin-top: 40px;
      list-style: none;
      font-size: 1.6rem;
      line-height: 4rem;
      font-weight: 700;
      color: white;
    }
    .contact .container ul li a{
      color: rgba(255, 255, 255, 0.829);
      text-decoration: none;

      transition: all 0.4s ease;
    }
    .contact .container ul li a:hover{
      color: white;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.733), 0px 2px 10px rgba(255, 255, 255, 0.1), 0px -2px 10px rgba(255, 255, 255, 0.1), -2px 0px 10px rgba(255, 255, 255,0.1), 2px 0px 10px rgba(255, 255, 255, 0.1);
    }
    .updown { 
      border: 1px solid white;
      height: 500px; 
      margin: 0 200px;
    }

    .dotn{
      animation: dotn 0.5s ease-in-out;
    }
       @keyframes dotn{ 
         0%{
           opacity: 0;
           transform: translateY(12px);
         }
         30%{
          opacity: 1;
         }
        50% { 
          opacity: 1;
          transform: translateY(0);
        } 
        70%{
          opacity: 1;
         }
         100% { 
           opacity: 0;
           transform: translateY(12px);

         } 
        }

.dot{
  animation: dot 0.7s linear infinite;
}
  
   @keyframes dot{ 
     0%{
      transform: translateY(0);
     }
    50% { 
      transform: translateY(12px);
    } 
     100% { 
       transform: translateY(0);
     } 
    }


    .animate_moveup{
      -webkit-animation:fadeInUp 0.6s forwards ease-in;
      -moz-animation: fadeInUp 0.6s forwards ease-in;
      -ms-animation: fadeInUp 0.6s forwards ease-in;
      -o-animation:fadeInUp 0.6s forwards ease-in;
      animation: fadeInUp 0.6s forwards ease-in;
  
      /* transition: 1s ease-in-out; */
  
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      
      -webkit-animation-play-state: running;
      -moz-animation-play-state: running;
      -ms-animation-play-state: running;
      -o-animation-play-state: running;
      animation-play-state: running;
  }
  .animate_inright{
    -webkit-animation:inRight 0.6s forwards ease-in;
    -moz-animation: inRight 0.6s forwards ease-in;
    -ms-animation: inRight 0.6s forwards ease-in;
    -o-animation:inRight 0.6s forwards ease-in;
    animation: inRight 0.6s forwards ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.animate_fadein{
  -webkit-animation:fadein 0.6s forwards ease-in;
  -moz-animation: fadein 0.6s forwards ease-in;
  -ms-animation: fadein 0.6s forwards ease-in;
  -o-animation:fadein 0.6s forwards ease-in;
  animation: fadein 0.6s forwards ease-in;
  /* transition: 1s ease-in-out; */

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
  }	100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
  }	100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
  }	100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
  }	100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes inRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(300px);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}
@-moz-keyframes inRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(300px);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}
@-o-keyframes inRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(300px);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}
@keyframes inRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(300px);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@-o-keyframes  fadein {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@keyframes fadein {
  0% {
     opacity: 0;
  }

  100% {
      opacity: 1;
  }
}